<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <title>Caso #3</title>
</head>
<body>
    <h1>Caso #3</h1>
    <a href="../file1" download>Download file1.txt</a> <br>
    <a href="../file2" download>Download file2.txt</a> <br>
    <a href="../file3" download>Download file3.txt</a> <br>
    <a href="/">Home</a>
</body>
</html>